.img-logo {
    width: 50px;
}

.img-principal {
    width: 300px;
}

.bg-principal {
    padding-top: 15px;
    text-align: center;
    background-color: white;
}

.tamanho-imagem {
    width: 700px;
}